[package]
name = "deltachat"
version = "0.1.0"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
edition = "2018"

[build-dependencies]
cc = "1.0.35"
pkg-config = "0.3"

[dependencies]
c2rust-bitfields = "0.1.0"
libc = "0.2.51"
pgp = "0.2.0"
failure = "0.1.5"
hex = "0.3.2"
sha2 = "0.8.0"
rand = "0.6.5"
smallvec = "0.6.9"
libsqlite3-sys = { version = "0.14.0", features = ["bundled"] }
reqwest = "0.9.15"
num-derive = "0.2.5"
num-traits = "0.2.6"

[dev-dependencies]
tempfile = "3.0.7"

[workspace]
members = [
  "deltachat-ffi"
]

[[example]]
name = "simple"

[[example]]
name = "repl"
path = "examples/repl/main.rs"

