[advisories]
ignore = [
    # Timing attack on RSA.
    # Delta Chat does not use RSA for new keys
    # and this requires precise measurement of the decryption time by the attacker.
    # There is no fix at the time of writing this (2023-11-28).
    # <https://rustsec.org/advisories/RUSTSEC-2023-0071>
    "RUSTSEC-2023-0071",

    # Unmaintained instant
    "RUSTSEC-2024-0384",

    # Unmaintained backoff
    "RUSTSEC-2025-0012",

    # Unmaintained paste
    "RUSTSEC-2024-0436",
]

[bans]
# Accept some duplicate versions, ideally we work towards this list
# becoming empty.  Adding versions forces us to revisit this at least
# when upgrading.
# Please keep this list alphabetically sorted.
skip = [
     { name = "async-channel", version = "1.9.0" },
     { name = "base64", version = "<0.21" },
     { name = "base64", version = "0.21.7" },
     { name = "bitflags", version = "1.3.2" },
     { name = "core-foundation", version = "0.9.4" },
     { name = "event-listener", version = "2.5.3" },
     { name = "generator", version = "0.7.5" },
     { name = "getrandom", version = "0.2.12" },
     { name = "heck", version = "0.4.1" },
     { name = "http", version = "0.2.12" },
     { name = "loom", version = "0.5.6" },
     { name = "netlink-packet-route", version = "0.17.1" },
     { name = "nix", version = "0.26.4" },
     { name = "nix", version = "0.27.1" },
     { name = "rand_chacha", version = "0.3.1" },
     { name = "rand_core", version = "0.6.4" },
     { name = "rand", version = "0.8.5" },
     { name = "redox_syscall", version = "0.3.5" },
     { name = "regex-automata", version = "0.1.10" },
     { name = "regex-syntax", version = "0.6.29" },
     { name = "rtnetlink", version = "0.13.1" },
     { name = "security-framework", version = "2.11.1" },
     { name = "strum_macros", version = "0.26.2" },
     { name = "strum", version = "0.26.2" },
     { name = "syn", version = "1.0.109" },
     { name = "thiserror-impl", version = "1.0.69" },
     { name = "thiserror", version = "1.0.69" },
     { name = "unicode-width", version = "0.1.11" },
     { name = "wasi", version = "0.11.0+wasi-snapshot-preview1" },
     { name = "windows" },
     { name = "windows_aarch64_gnullvm" },
     { name = "windows_aarch64_msvc" },
     { name = "windows-core" },
     { name = "windows_i686_gnu" },
     { name = "windows_i686_gnullvm" },
     { name = "windows_i686_msvc" },
     { name = "windows-implement" },
     { name = "windows-interface" },
     { name = "windows-result" },
     { name = "windows-strings" },
     { name = "windows-sys" },
     { name = "windows-targets" },
     { name = "windows_x86_64_gnu" },
     { name = "windows_x86_64_gnullvm" },
     { name = "windows_x86_64_msvc" },
     { name = "zerocopy", version = "0.7.32" },
]


[licenses]
allow = [
    "0BSD",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0", # Boost Software License 1.0
    "CC0-1.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
    "Unicode-DFS-2016",
    "Zlib",
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
      { path = "LICENSE", hash = 0xbd0eed23 },
]
