.circleci/
.gitmodules
.nyc_output/
.travis.yml
appveyor.yml
build/
build2/
node_modules
.git
ci_scripts/
coverage/
deltachat-core-rust/.circleci
deltachat-core-rust/.git
deltachat-core-rust/.github
deltachat-core-rust/.gitattributes
deltachat-core-rust/appveyor.yml
deltachat-core-rust/ci/
deltachat-core-rust/ci_scripts/
deltachat-core-rust/examples/
deltachat-core-rust/python/
deltachat-core-rust/tests/
deltachat-core-rust/target
deltachat-core-rust/test-data
deltachat-core-rust/proptest-regressions
deltachat-core-rust/deltachat-ffi/Doxyfile
deltachat-core-rust/scripts
deltachat-core-rust/benches
deltachat-core-rust/webxdc.md
deltachat-core-rust/standards.md
deltachat-core-rust/draft/
examples/
# deltachat-core-rust/assets # don't exclude assets, otherwise it won't build
images/
test/
windows.md
*.tar.gz
old_docs.md
.vscode/
.github/
.prettierrc.yml
